<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="rhubarb-geek-nz/RunningMan ($(env.PRODUCTARCH))" Language="1033" Version="$(env.PRODUCTVERSION)" Manufacturer="rhubarb-geek-nz" UpgradeCode="$(env.UPGRADECODE)">
    <Package InstallerVersion="$(env.INSTALLERVERSION)" Compressed="yes" InstallScope="perMachine" Platform="$(env.PRODUCTARCH)" Description="Dual-Interface Hello World Component" Comments="https://github.com/rhubarb-geek-nz/RunningMan" />
    <MediaTemplate EmbedCab="yes" />
    <Feature Id="ProductFeature" Title="setup" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>
    <Upgrade Id="{$(env.UPGRADECODE)}">
      <UpgradeVersion Maximum="$(env.PRODUCTVERSION)" Property="OLDPRODUCTFOUND" OnlyDetect="no" IncludeMinimum="yes" IncludeMaximum="no" />
    </Upgrade>
    <InstallExecuteSequence>
      <RemoveExistingProducts After="InstallInitialize" />
    </InstallExecuteSequence>
  </Product>
  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="$(env.PRODUCTPROGFILES)">
        <Directory Id="COMPANYDIR" Name="rhubarb-geek-nz">
          <Directory Id="INSTALLDIR" Name="RunningMan">
            <Directory Id="INSTALLDIRBIN" Name="$(env.PRODUCTARCH)" />
          </Directory>
        </Directory>
      </Directory>
    </Directory>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="ProductComponents">
      <Component Id="cmp49644F99A8DC013BD2FA39270E26C76C" Guid="*" Directory="INSTALLDIRBIN" Win64="$(env.PRODUCTWIN64)">
        <File Id="fil206829A74DFF7880F64BE9D5C35CFF80" KeyPath="yes" Source="..\bin\$(env.PRODUCTARCH)\RhubarbGeekNzRunningMan.exe">
          <TypeLib Id="{C95C0F6B-3EE3-48AE-8F78-432669B69C48}" Description="RunningMan Hello World Component 1.0 Type Library" HelpDirectory="INSTALLDIR" MajorVersion="1" MinorVersion="0" Language="0">
            <Interface Id="{7798193D-D609-4D4C-935D-1F04B261F346}" Name="IHelloWorld" ProxyStubClassId32="{00020424-0000-0000-C000-000000000046}" />
          </TypeLib>
        </File>
        <RegistryValue Id="regc20ac5fc9e314d5cbf17c7fa18fd6e09" Root="HKLM" Key="SOFTWARE\Classes\RhubarbGeekNz.RunningMan\CLSID" Value="{A8D9E8E8-EC86-4630-A623-579C9CB505A7}" Type="string" Action="write" />
        <RegistryValue Id="AppIdExeName" Root="HKLM" Key="SOFTWARE\Classes\AppID\RhubarbGeekNzRunningMan.exe" Name="AppID" Value="{3A6D07ED-E03D-474A-AE6A-BF42293D17F2}" Type="string" Action="write" />
        <RegistryValue Id="AppIdServiceName" Root="HKLM" Key="SOFTWARE\Classes\AppID\{3A6D07ED-E03D-474A-AE6A-BF42293D17F2}" Name="LocalService" Value="RunningMan" Type="string" Action="write" />
        <ServiceInstall Id="RunningMan" Name="RunningMan" DisplayName="Running Man" Description="Provides Hello World COM object as RhubarbGeekNz.RunningMan" Start="demand" Type="ownProcess" ErrorControl="normal" Account="LocalSystem" Vital="yes" Interactive="no" />
        <ServiceControl Id="RunningMan" Name="RunningMan" Stop="both" Remove="uninstall" Wait="yes" />
        <ServiceConfig ServiceName="RunningMan" OnInstall="yes" DelayedAutoStart="yes" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>